<footer class="app-footer">
	<nav class="app-nav">
		<ul class="nav-menu">
			<li class="nav-icons">
				{{#link-to 'worldclock' class='nav-achrs'}}
					&#9992;
					<br/>World Clock
				{{/link-to}}
			</li>
			<li class="nav-icons">
				{{#link-to 'timer' class='nav-achrs'}}
					&#9716;
					<br/>Timer
				{{/link-to}}
			</li>
			<li class="nav-icons">
				{{#link-to 'stopwatch' class='nav-achrs'}}
					&#9719;
					<br/>Stopwatch
				{{/link-to}}
			</li>
		</ul><!-- nav-menu -->
	</nav><!-- app-nav -->
</footer><!-- app-footer -->