<body>
	{{#unless isAddingCity}}
		{{nav-header app=isWorldclock appTitle=appTitle isEditing=isEditing editLabel=editLabel}}
	{{/unless}}
		{{outlet}}
	{{#unless isAddingCity}}	
		{{nav-footer}}
	{{/unless}}
</body>
